body{background-color: bisque;}
#wrapper{width: 600px;margin: 0 auto}
#txtUserName{background-color:transparent;border-bottom:1px solid}
#left, #right{min-height:300px}
#left{width:30%;float: left;background-color:aqua}
#right{width:70%;float: right;background-color:cadetblue}
#boxTitle{border:solid 1px black;padding:5px;text-align:center}
#boxContent{border:solid 1px black;border-top: none;padding:5px}
#sayHi{text-align:right}
#listMessage{height:200px;background-color:rgb(84, 84, 207)}